/*---------------------------------------IMPORTS---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------------------------------RESET----------------------------------------*/
*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

/*----------------------------------------VARS----------------------------------------*/
:root{
    --c1: #ba1d29;
    --c2: white;
    --c3: #6d1017;

    --f1: "Oswald", sans-serif;
    --f2: "Poppins", sans-serif;
    --f3: "Open Sans", sans-serif;
}

/*----------------------------------------BODY----------------------------------------*/
body{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723198239/Tarea%20Semana%204/wtmfyw6r7aliy0lvdijb.png);
    background-color:white;
}
/*----------------------------------------HEADER----------------------------------------*/
.header{
    width: 100%;
    height: 5rem;
    background-color: var(--c2);
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723198239/Tarea%20Semana%204/wtmfyw6r7aliy0lvdijb.png);
    border-bottom: var(--c1) solid 5px;
    position: fixed;

    display: flex;
    justify-content: center;
}

.separator{
    width: 100%;
    height: 5rem;
}

.logo{
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------------------------------MAIN----------------------------------------*/
main{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*----------------------------------------NAVBAR----------------------------------------*/
.nav{
    width: 100%;
    background-color: var(--c1);

    display: grid;
    grid-template-rows: max-content;
    justify-content: center;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content:center;
    align-items: center;

}

.nav-pages{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 150px));
    justify-content: center;
    align-items: center;
}

.nav-item{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;  
    height: 4rem;  
}

.nav-text{
    color: var(--c2);
    font-size: 1.4rem;
    font-family: var(--f2);
    text-decoration: none;
}

.nav-input{
    width: 95%;
    padding: 0.5rem;
    font-family: var(--f3);
    border-radius: 10px;
    background-color: var(--c3);
    color: var(--c2);
    border: 0;
}

/*-------------------------------------SUBSCRIPTION----------------------------------------*/
.subscription{
    width: 100%;
    background-color: black;

    display: grid;

    justify-items: center;
    align-items: center;
}

.subs-left{
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.3fr 0.3fr 1fr;
    justify-items: center;
    align-items: center;
}

.subs-rigth{
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.subs-text{
    width: 100%;
    color: var(--c2);
    font-family: var(--f2);
    font-size: 1.5rem;
    text-align: center;
}

.subs-email{
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    height: 2.5rem;
    font-family: var(--f2);
    font-size: 1.2rem;
    padding-left: 1rem;
}

.subs-button{
    width: 100%;
    border-radius: 0.5rem;
    height: 2.5rem;
    font-family: var(--f2); 
    font-size: 1.2rem;
}

.subs-logo{
    width: 70%;
    height: 70%;  
}

.subs-logo-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*-------------------------------------FOOTER-----------------------------------------*/

.footer{
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 1rem;
    background-color: var(--c1);
}

.footer-text{
    font-size: 0.9rem;
    color: white;
    font-family: var(--f3)
}


/*----------------------------------------HOVERS----------------------------------------*/
.nav-text:hover{
    font-size: 1.6rem;
    transition: font-size 0.5s;
}

/*-------------------------------------KEYFRAMES--------------------------------------*/
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*-----------------------------------MEDIA-QUERY-------------------------------------*/

/*Small screens*/
@media (min-width: 320px) and (max-width: 480px){
    .nav{
        grid-template-columns: 1fr;
    }

    .nav-item{
        height: 3rem;
    }

    .subscription{
        height: 480px;
        grid-template-columns: 1fr;
        grid-template-rows: 280px 200px;
    }

    main{
        width: 97%;
    }
}

/*Smartphones*/
@media (min-width: 481px) and (max-width: 768px){
    .nav{
        grid-template-columns: 1fr;
    }
    .nav-item{
        height: 3rem;
    }

    .subscription{
        height: 420px;
        grid-template-columns: 1fr;
        grid-template-rows: 240px 190px;
    }
    main{
        width: 95%;
    }
}

/*tablet ad landscape*/
@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
    .nav{
        grid-template-columns: 1fr;
    }
    .nav-item{
        height: 3rem;
    }

    .subscription{
        
        height: 35vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    main{
        width: 90%;
    }
}

/*Desktop*/
@media (min-width: 1025px) and (max-width: 1280px){
    .nav{
        grid-template-columns: 0.5fr 1fr;
    }
    .nav-item{
        height: 4rem;
    }

    .subscription{
        height: 35vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    main{
        width: 80%;
    }
}

/*Big Screens*/
@media (min-width: 1281px){
    .nav{
        grid-template-columns: 0.5fr 1fr;
    }
    .nav-item{
        height: 4rem;
    }

    .subscription{
        height: 35vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    main{
        width: 80%;
    }
}
