/*---------------------------------------IMPORTS---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------------------------------VARS----------------------------------------*/
:root{
    --c1: #ba1d29;
    --c2: white;
    --c3: #6d1017;

    --f1: "Oswald", sans-serif;
    --f2: "Poppins", sans-serif;
    --f3: "Open Sans", sans-serif;
}

/*--------------------------------------PROMOTIONS-1--------------------------------------*/
.promotion-1{
    display: grid;
    gap: 0.5rem;
    border-radius:1rem;
}

.prom1-item{
    display: flex;
    justify-content: center;
    align-items: end;
    border: var(--c3) solid 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--c1);
    background-position: center;
    background-size:cover;
    background-blend-mode: multiply;
}

.prom1-text{
    padding: 0.5rem;
    color: var(--c2);
    font-family: var(--f1);
    font-size: 3rem;   
    text-shadow: 0.3rem 0.3rem black;
}

.prom1-item-a{
    grid-area: a;
    display: flex;
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723198242/Tarea%20Semana%204/hokhwhja5pnjjqhfbucv.gif);
    align-items: center;
    font-family: var(--f1);
    font-size: 4rem;
    font-style: italic;
    color: var(--c2);
    text-shadow: 0.5rem 0.5rem black;
}


.subtext{
    font-size: 1.5rem;
    padding: 1rem;
}

.prom1-item-b{
    grid-area: b;
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723198239/Tarea%20Semana%204/eu3qizr6tga4windcpwo.jpg);
    
}

.prom1-item-c{
    grid-area: c;
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723198820/Tarea%20Semana%204/hkyohydoq1kjgaqpfpns.webp);
}

.prom1-item-d{
    grid-area: d;
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723200015/Tarea%20Semana%204/tff4oghalpcgzfwmxz4l.webp);
}

.prom1-item-e{
    grid-area: e;
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723200145/Tarea%20Semana%204/cqpwuaylagagpszbcuhv.jpg);
}

.prom1-item-f{
    grid-area: f;
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723200320/Tarea%20Semana%204/ytop58mci3uf7cyt3jdo.jpg);
}

.prom1-item-g{
    grid-area: g;
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723200572/Tarea%20Semana%204/nhqkvtsqowrc6ryatfcs.jpg);
}

/*----------------------------------------HOVERS----------------------------------------*/
.prom1-item:hover{
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 1s;
}

/*-----------------------------------MEDIA-QUERY-------------------------------------*/

/*Small screens*/
@media (min-width: 320px) and (max-width: 480px){
    .promotion-1{
        grid-template-areas: 
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 300px);
    }

    .prom1-item{
        width: 100%;
        height: 300px;
    }
    .prom1-text{
        font-size: 2rem;

    }

    .prom1-item-a{
        font-size: 2rem;
    }
}

/*Smartphones*/
@media (min-width: 481px) and (max-width: 768px){
    .promotion-1{
        grid-template-areas: 
            "a  a"
            "b  c"
            "d  e"
            "f  g"
        ;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4, 300px);
    }

    .prom1-item{
        width: 100%;
        height: 300px;
    }
    .prom1-text{
        font-size: 2rem;

    }

    .prom1-item-a{
        font-size: 2rem;
    }
}

/*tablet ad landscape*/
@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
    .promotion-1{
        grid-template-areas: 
            "a  a   a"
            "b  c   c"
            "b  d   e"
            "f  g   g"
        ;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,200px);
    }

    .prom1-item{
        width: 100%;
    }
    .prom1-text{
        font-size: 2rem;

    }

    .prom1-item-a{
        font-size: 2rem;
    }
}

/*Desktop*/
@media (min-width: 1025px) and (max-width: 1280px){
    .promotion-1{
        height: 100vh;
        grid-template-areas: 
            "a  a   a   a"
            "b  c   c   c"
            "b  d   e   e"
            "b  d   e   e"
            "f  f   g   g"
        ;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    }
}

/*Big Screens*/
@media (min-width: 1281px){
    .promotion-1{
        height: 100vh;
        grid-template-areas: 
            "a  a   a   a"
            "b  c   c   c"
            "b  d   e   e"
            "b  d   e   e"
            "f  f   g   g"
        ;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    }
}


