/*---------------------------------------IMPORTS---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------------------------------RESET----------------------------------------*/
*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

/*----------------------------------------VARS----------------------------------------*/
:root{
    --c1: #ba1d29;
    --c2: white;
    --c3: #6d1017;

    --f1: "Oswald", sans-serif;
    --f2: "Poppins", sans-serif;
    --f3: "Open Sans", sans-serif;
}

/*----------------------------------------BODY----------------------------------------*/
body{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723198239/Tarea%20Semana%204/wtmfyw6r7aliy0lvdijb.png);
    background-color:white;
}

/*----------------------------------------HEADER----------------------------------------*/
.header{
    width: 100%;
    height: 5rem;
    background-color: var(--c2);
    background-image: url(https://res.cloudinary.com/dhqkospsd/image/upload/v1723198239/Tarea%20Semana%204/wtmfyw6r7aliy0lvdijb.png);
    border-bottom: var(--c1) solid 5px;
    position: fixed;

    display: flex;
    justify-content: center;
}

.separator{
    width: 100%;
    height: 5rem;
}

.logo{
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------------------------------NAVBAR----------------------------------------*/
.nav{
    width: 100%;
    height: 4rem;
    background-color: var(--c1);

    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.nav-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.nav-text{
    color: var(--c2);
    font-size: 1.4rem;
    font-family: var(--f2);
    text-decoration: none;
}

.nav-input{
    width: 70%;
    padding: 0.5rem;
    font-family: var(--f3);
    border-radius: 10px;
    background-color: var(--c3);
    color: var(--c2);
    border: 0;
}
/*--------------------------------------PROMOTIONS-2--------------------------------------*/
.offer-1{
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "a  c"
        "b  c"
    ;
    grid-template-columns: 1fr 0.6fr;
    gap: 0.5rem;
    padding: 1rem;
    border-radius:1rem;
}

.offer1-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer1-item-a{
    grid-area: a;
}

.offer1-item-b{
    grid-area: b;
}

.offer1-item-c{
    grid-area: c;
}

.offer1-img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 1rem;
}

/*----------------------------------------HOVERS----------------------------------------*/
.nav-text:hover{
    font-size: 1.6rem;
    transition: font-size 0.5s;
}

.offer1-img:hover{
    width: 100%;
    height: 100%;
    border: 0.5rem var(--c1) double;
    transition: width 1s, height 1s;
}
